body,
* {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
}

.header {
    background-color: #e3e3e3;
    min-height: 50px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.main {
    width: 100%;
    display: flex;
    flex: 1;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.main__users--heading,
.main__chat--heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.main__users div,
.main__chat div {
    margin-bottom: 5px;
}

.main__users {
    background-color: #fcc5af;
    width: 200px;
    padding: 10px;
    scroll-snap-align: start;
    overflow: auto;
}

.main__chat {
    background-color: #8080f6;
    width: 100%;
    padding: 10px;
    scroll-snap-align: start;
    overflow: auto;
}

.footer {
    background-color: #e3e3e3;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
